[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "maple-mini/atomthreads/atomthreads"]
	path = maple-mini/atomthreads/atomthreads
	url = git://github.com/kelvinlawson/atomthreads.git
[submodule "atomthreads"]
	path = atomthreads
	url = git://github.com/kelvinlawson/atomthreads.git
